@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
input,
input::placeholder,
button {
    font-family: 'Poppins', sans-serif;
}

input,
button {
    padding: 0;
    border: 0;
    outline: none;
}

button {
    transition: opacity 0.3s;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.6;
}

a,
a:visited {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

img {
    max-width: 100%;
}